/* Base styles for the admin navbar */
.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 0px !important;
}

.search-bar-nav {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 15px;
  width: 516px;
  position: relative; /* Add relative positioning */
}

.search-bar-nav input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding-left: 30px; /* Add padding to make space for the icon */
}

.search-bar-nav .search-icon {
  position: absolute;
  left: 10px; /* Position the icon inside the input */
  font-size: 16px;
  color: #888;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.notification {
  position: relative;
  margin-right: 20px;
}

.notification i {
  font-size: 20px;
  color: #333;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.user-role {
  font-size: 12px;
  color: #888;
}

.user-profile i {
  margin-left: 10px;
  color: #888;
}

/* Mobile view: hide search bar in navbar */
@media (max-width: 767px) {
  .search-bar {
    display: none; /* Hide search bar in navbar */
  }
  .admin-navbar{
    display: flex;
    flex-direction: row-reverse;
  }
}
