.message-container{
    width: 316px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.mess-inf{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 210px !important;
}

@media (max-width: 767px) {
    .message-info{
        font-size: 12px !important;
    }
    .img-notify{
        width: 40px !important;
        height: 40px !important;
    }
}