.btn-accept, .btn-decline{
    height: 18px;
    font-size: 8.44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.notify-name{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}