.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    color: #31A24C; /* Màu cho các trang không phải active */
}

.pagination a:hover {
    color: #31A24C !important; /* Màu chữ khi hover */
}

 .active-pagination {
    color: black; /* Màu chữ cho trang active */
    background-color: #e0e0e0; /* Màu nền cho trang active (tuỳ chọn) */
    pointer-events: none; /* Ngăn không cho click trang active */
    border-radius: 5px; /* Tùy chọn: bo tròn cho trang active */
}

.pagination .previous,
.pagination .next {
    cursor: pointer;
}
