.sidebar-custom {
    width: 100% !important;
}

.sidebar-item {
    display: flex;
    align-items: center !important;
    text-decoration: none;
    color: black;
    height: 51.66px;
    padding-left: 44px;
    gap: 15px;

}

.sidebar-item ion-icon {
    font-size: 37px;
    /* Kích thước biểu tượng */
    color: inherit;
    /* Giữ màu sắc của văn bản */
}

.sidebar-item:hover {}

.active-sidebar {
    color: white !important;
    background-color: #409034;
    border-radius: 60px;
}

.active .sidebar-item {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .sidebar-item {
        padding-left: 20px;
        font-size: 12px;
        height: 40px;
    }
    .sidebar-item ion-icon {
        font-size: 25px; 
    }
    .create-btn {
        font-size: 12px;
        height: 40px;
    }
}

.btn-create {
    height: 36px;
    margin-top: 20px;
    width: 100%;
    border: black solid 1px;
    border-radius: 30px;
    background-color: white;
}

@media (max-width: 1024px) {
    /* .body {
        width: 100%;
    } */

    .sidebar-custom {
        width: 100%;
    }

    .sidebar-item {
        width: 100%;
        padding: 10px !important;
        font-size: 80%;
    }
}