.list-container {
    margin-top: 122px;
    padding: 0px 85px;
}

@media (max-width: 1024px) {
    .list-layout-custom {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .list-container {
        margin-top: 75px;
        padding: 10px;
    }



}