

.cbp_tmtimeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}


.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #222222;
    left: 57px;
    margin-left: -6px
}

.cbp_tmtimeline>li {
    position: relative
}

.cbp_tmtimeline>li:first-child .cbp_tmicon {
    font-size: 50%;
    background: #fff;
    color: #ffffff
}

.cbp_tmtimeline>li .empty span {
    color: #ffffff
}


.cbp_tmtimeline>li .cbp_tmlabel {
    margin: 0 0 20px 71px;
    background: #ffffff;
    position: relative;
    border-radius: 5px
}

.cbp_tmtimeline>li .cbp_tmlabel {
    color: #000000
}

.cbp_tmtimeline>li .cbp_tmicon {
    width: 20px;
    height: 20px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #4e4e4f;
    text-align: center;
    left: 67px;
    top: 0;
    margin: 0 0 0 -25px
}

.text-header-profile{
    margin-left: 40px;
    font-weight: bold;
    font-size: 32px;
}


.cbp_tmlabel h4{
    color: #ED6542;
}
.favorite-tag{
    gap: 10px;
}

.favorite-tag p{
    margin: 0;
    border-color: #100303 !important;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); /* Bóng màu đen với độ mờ */
}



@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none
    }



    .cbp_tmtimeline>li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%
    }

    .cbp_tmtimeline>li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #f5f5f6;
        top: -20px
    }

    .cbp_tmtimeline>li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -64px 5px 0 0px
    }

    .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #f5f5f6
    }

    .cbp_tmtimeline>li .cbp_tmicon {
        display: none;
    }
}

.bg-info {
    background-color: #ffffff !important;
}