/* Default styles for desktop */
.edit-pro-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    font-size: 24px;
    margin-top: 100px !important;
}
.rounded-input {
    border-radius: 20px !important; /* Use !important to override default styles */
    height: 40px;
    border: 1px solid black;
}

.badge-custom {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 15px;
}

.text-form {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
}

.text-nowrap {
    white-space: nowrap;
}

.text-decription {
    height: 283px;
    padding: 20px;
}

.text-form-info {
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.customer-status {
    margin-left: -6px;
}

/* Styles for tablets (width between 768px and 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .edit-pro-container {
        padding: 20px;
        font-size: 10px;
        margin-top: 40px !important;
    }
    .text-decription {
        height: auto;
        padding: 10px;
    }
    .badge-custom {
        padding: 8px 12px;
    }
}

/* Styles for mobile phones (width less than 768px) */
@media (max-width: 767px) {
    .edit-pro-container {
        padding: 15px;
        font-size: 18px;
        margin-top: 0px !important;
    }
    .text-decription {
        height: auto;
        padding: 10px;
    }
    .badge-custom {
        padding: 6px 10px;
    }
    .customer-status {
        margin-left: 0;
    }
}
