/* Main container */
.admin-report {
  font-family: Arial, sans-serif;
  padding: 0px;
}
.report-overview {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}
.overview-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #e6f4ec;
  border: 1px solid #ddd;
  flex: 1;
}
.body-dashboard{
  padding: 20px;
}
.overview-card.active {
  background-color: #fff;
  border: 2px solid #00a550;
}
.overview-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.overview-card .value {
  font-size: 24px;
  font-weight: bold;
  color: #00a550;
}

/* Search bar */
.search-bar {
  margin-bottom: 20px;
}

/* Table styling */
.table-container {
  border-radius: 10px;
  padding: 20px;
  background-color: white !important;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table-container td img.avatar {
  border-radius: 6px;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.status {
  font-weight: bold;
}

.status.resolved {
  color: green;
}

.status.pending {
  color: orange;
}

.status.rejected {
  color: red;
}

.actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Pagination styling */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #00a550;
  border-color: #00a550;
}

.pagination .page-item .page-link {
  color: #00a550;
}

@media (min-width: 1024px) {
  .table-search {
    border: 1px solid #409034;
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
  }
}


/* Media Query for Mobile (screens less than 768px wide) */
@media (max-width: 768px) {
  .report-overview {
    flex-direction: column; /* Change the layout to column for smaller screens */
  }

  .overview-card {
    margin-bottom: 20px; /* Add some margin between cards */
  }
}