
.container-group-joined{
    padding: 0 85px;
}

@media (max-width: 1024px) {
    .container-group-joined{
        padding: 0 20px;
    }
}

@media (max-width: 480px){
    .container-group-joined{
        padding: 0px;
    }
}