.text-post:focus{
    border-color: rgba(0, 0, 0, 0.25) !important;
}

@media (max-width: 1024px){
    .join-group-detail-container{
        padding: 0 20px !important;
    }
    .group-name-inf{
        font-size: 20px !important;
        text-wrap: nowrap;
    }
    .group-location-inf{
        font-size: 10px !important;
        margin: 8px 0 0 0 !important;
    }
    .group-dropdown-inf{
        height: 20px !important;
        width: 100px !important;
        font-size: 8px !important;
        padding: 0px 10px !important;
    }
    .group-input{
        padding: 0 !important;
    }
    .group-input-avatar{
        width: 50px !important;
        height: 50px !important;
    }
    .group-decription{
        font-size: 12px !important;
    }
}


@media (max-width: 768px) {
    
    .group-input-avatar{
        display: none;
    }

    .group-name-inf{
        font-size: 16px !important;
        text-wrap: nowrap;
    }

    .group-location-inf{
        font-size: 9px !important;
        margin: 5px 0 0 0 !important;
    }
    .group-dropdown-inf{
        height: 20px !important;
        font-size: 8px !important;
        font-size: 7px !important;
    }
    .group-dropdown-inf{
        margin-top: 5px;
    }
   
}