.admin-dashboard {
    font-family: Arial, sans-serif;
    padding: 0px;
}

.dashboard-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
}

/* Dashboard overview layout for larger screens */
.dashboard-overview {
    display: flex;
    gap: 20px;
    align-items: start;
    margin-bottom: 30px;
}

/* Overview card styles */
.overview-card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #409034 !important;
    background-color: #ffffff !important;
    height: 200px;
    width: 360px;
}

.overview-card h3 {
    font-size: 25px !important;
    margin-bottom: 30px;
    color: black !important;
    font-weight: bold;

}

.overview-card .value {
    font-size: 32px !important;
    font-weight: bold;
    margin-bottom: 5px;
    color: black !important;
}

.overview-card .comparison {
    font-size: 20px !important;
    color: #888;
}

.dashboard-chart {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.dashboard-chart h3 {
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .dashboard-title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .dashboard-overview {
        flex-direction: column;
        gap: 15px;
    }

    .overview-card {
        width: 100%;
        height: auto;
    }

    .overview-card h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .overview-card .value {
        font-size: 28px;
    }

    .overview-card .comparison {
        font-size: 18px;
    }

    .dashboard-chart {
        padding: 15px;
    }

    .dashboard-chart h3 {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .dashboard-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .dashboard-overview {
        flex-direction: column;
        gap: 10px;
    }

    .overview-card {
        width: 100%;
        height: auto;
    }

    .overview-card h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .overview-card .value {
        font-size: 24px;
    }

    .overview-card .comparison {
        font-size: 16px;
    }

    .dashboard-chart {
        padding: 10px;
    }

    .dashboard-chart h3 {
        font-size: 20px;
    }
}
