@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.input-group,
.form-control:focus {
  box-shadow: 0 0 0px !important;
}
.modal-open {
  padding-right: 0 !important;
}
img{
  width: 100%;
}

/* .dropdown-item:hover{
  background: #006f2b;
} */

.dropdown-menu{
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border: 0px !important;
  border-radius: 16px;
}