.host-card {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 331px; /* Giới hạn kích thước tối đa */
  height: 500px; /* Chiều cao cố định cho màn hình desktop */
}

.host-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.host-card-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 1rem;
  text-align: left;
}

.host-name {
  font-size: 30px !important;
  margin: 10px 0 !important;
}

.host-location {
  font-size: 20px !important;
  margin: 10px 0px 20px 0px !important;
}

.contact-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 20px !important;
  font-style: italic;
  height: 41px !important;
  width: 151px !important;
  padding: 0px !important;
}

.contact-button:hover {
  background-color: darkgreen;
}

/* Điều chỉnh cho màn hình lớn hơn (desktop) */
@media (min-width: 1024px) {
  .host-card {
    max-width: 400px;
    height: 500px; /* Chiều cao cố định trên màn hình desktop */
  }

  .host-name {
    font-size: 3rem;
  }

  .host-location {
    font-size: 1.2rem;
  }

  .contact-button {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
}

/* Điều chỉnh cho màn hình nhỏ hơn (tablets) */
@media (max-width: 768px) {
  .host-card {
    max-width: 280px;
    height: 220px; /* Chiều cao giảm trên màn hình tablet */
  }

  .host-name {
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }

  .host-location {
    font-size: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .contact-button {
    font-size: 12px !important;
    height: 22px !important;
    width: 100px !important;
    margin-bottom: 0px !important;
  }
}

/* Điều chỉnh cho màn hình rất nhỏ (mobile) */
@media (max-width: 480px) {
  .host-card {
    max-width: 170px;
    height: 200px; /* Chiều cao nhỏ hơn cho mobile */
  }

  .host-name {
    font-size: 10px !important
  }

  .host-location {
    font-size: 7px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }

  .contact-button {
    font-size: 7px !important;
    height: 18px !important;
    width: 70px !important;
  }
}
