.request-details {
  padding: 15px 10px;
  width: 352px !important;
  background: #F14D42;
  border-radius: 20px;
  margin: 20px;
}

.request-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.request-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.request-body {
  margin-bottom: 20px;
}

.request-actions {
  display: flex;
}

.accept-btn {
  background-color: #F14D42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.reject-btn {
    background-color: #F14D42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.no-request-selected {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #888;
}
