.local-wallet-management {
    padding: 20px;
}

.wallet-overview {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    width: 60%;
}

.overview-card {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.overview-card h3 {
    margin-bottom: 10px;
}

.overview-card .bank {
    font-size: 20px;
}

.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actions .action-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.actions .action-btn i {
    font-size: 1.2rem;
}

.pagination-container {
    margin-top: 20px;
}

.button-custom {
    font-size: 0.8rem;
    width: 106px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: white;
    border: 0px;
    color: green;
}


.btn-detail {
    font-size: 0.8rem;
    width: 106px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: #007931;
    border: 0px;
    color: white;
}